## Scratch of train_test_split​

In [14]:
import numpy as np
seed = 11
def scratch_train_test_split(X, y, train_size=0.8):
    np.random.seed(seed)
    np.random.shuffle(X)
    np.random.seed(seed)
    np.random.shuffle(y)
    size = int(train_size*len(X))
    
    X_train = X[:size]
    y_train = y[:size]
    X_test =  X[size:]
    y_test = y[size:]
    
    return X_train,X_test,y_train,y_test

In [23]:
test_X = np.random.randn(2, 4)
test_Y = np.random.randn(2)

In [25]:
X_train,X_test,y_train,y_test = scratch_train_test_split(test_X, test_Y, train_size=0.8)

## Creating a code to solve the classification problem

Simple data set 1 creation code

In [26]:
import numpy as np

np.random.seed(seed=0)
n_samples = 500
f0 = [-1, 2]
f1 = [2, -1]
cov = [[1.0,0.8], [0.8, 1.0]]
f0 = np.random.multivariate_normal(f0, cov, n_samples // 2)
f1 = np.random.multivariate_normal(f1, cov, n_samples // 2)
X1 = np.concatenate([f0, f1])
y1 = np.concatenate([
    np.full(n_samples // 2, 1),
    np.full(n_samples // 2, -1)
])

Simple data set 2 creation code

In [28]:
X2 = np.array([
    [-0.44699 , -2.8073  ],[-1.4621  , -2.4586  ],
    [ 0.10645 ,  1.9242  ],[-3.5944  , -4.0112  ],
    [-0.9888  ,  4.5718  ],[-3.1625  , -3.9606  ],
    [ 0.56421 ,  0.72888 ],[-0.60216 ,  8.4636  ],
    [-0.61251 , -0.75345 ],[-0.73535 , -2.2718  ],
    [-0.80647 , -2.2135  ],[ 0.86291 ,  2.3946  ],
    [-3.1108  ,  0.15394 ],[-2.9362  ,  2.5462  ],
    [-0.57242 , -2.9915  ],[ 1.4771  ,  3.4896  ],
    [ 0.58619 ,  0.37158 ],[ 0.6017  ,  4.3439  ],
    [-2.1086  ,  8.3428  ],[-4.1013  , -4.353   ],
    [-1.9948  , -1.3927  ],[ 0.35084 , -0.031994],
    [ 0.96765 ,  7.8929  ],[-1.281   , 15.6824  ],
    [ 0.96765 , 10.083   ],[ 1.3763  ,  1.3347  ],
    [-2.234   , -2.5323  ],[-2.9452  , -1.8219  ],
    [ 0.14654 , -0.28733 ],[ 0.5461  ,  5.8245  ],
    [-0.65259 ,  9.3444  ],[ 0.59912 ,  5.3524  ],
    [ 0.50214 , -0.31818 ],[-3.0603  , -3.6461  ],
    [-6.6797  ,  0.67661 ],[-2.353   , -0.72261 ],
    [ 1.1319  ,  2.4023  ],[-0.12243 ,  9.0162  ],
    [-2.5677  , 13.1779  ],[ 0.057313,  5.4681  ],
])
y2 = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [40]:
from sklearn.datasets import load_iris
import pandas as pd 
data = load_iris()
iris = pd.DataFrame(data['data'], columns=data.feature_names)
iris['Species'] = data.target
iris = iris[iris['Species'] !=0]
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [45]:
X = iris.drop(['Species'], axis =1)
y =  iris['Species']

In [46]:
X.shape

(100, 4)

In [48]:
X = np.array(X)
y = np.array(y)

In [51]:
y.shape

(100,)

In [85]:
X_train, X_test, y_train, y_test = scratch_train_test_split(X, y, train_size=0.8)


X1_train, X1_test, y1_train, y1_test = scratch_train_test_split(X1, y1, train_size=0.8)


X2_train, X2_test, y2_train, y2_test = scratch_train_test_split(X2, y2, train_size=0.8)

In [23]:
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [21]:
def print_result(result,label_test):
    for i in range(len(result)):
        print("Accuracy of the number"+" "+str(i+1)+" "+"dataset", accuracy_score(label_test[i], result[i])*100)
        print("Confusion matrix of the number"+" "+str(i+1)+" "+"dataset", confusion_matrix(label_test[i], result[i]))

In [90]:
sgd1 = SGDClassifier()
sgd1.fit(X1_train,y1_train)
result1 = sgd1.predict(X1_test)

In [91]:
sgd2 = SGDClassifier()
sgd2.fit(X2_train,y2_train)
result2 = sgd2.predict(X2_test)

In [92]:
sgd = SGDClassifier()
sgd.fit(X_train,y_train)
result = sgd.predict(X_test)

In [99]:
print_result([result,result1,result2],[y_test,y1_test,y2_test])

Accuracy of the number 1 dataset 60.0
Confusion matrix of the number 1 dataset [[9 0]
 [8 3]]
Accuracy of the number 2 dataset 100.0
Confusion matrix of the number 2 dataset [[47  0]
 [ 0 53]]
Accuracy of the number 3 dataset 75.0
Confusion matrix of the number 3 dataset [[5 0]
 [2 1]]

In [103]:
svc1 = SVC()
svc1.fit(X1_train,y1_train)
result1 = svc1.predict(X1_test)

In [104]:
svc2 = SVC()
svc2.fit(X2_train,y2_train)
result2 = svc1.predict(X2_test)

In [105]:
svc = SVC()
svc.fit(X_train,y_train)
result = svc.predict(X_test)

In [106]:
print_result([result,result1,result2],[y_test,y1_test,y2_test])

Accuracy of the number 1 dataset 85.0
Confusion matrix of the number 1 dataset [[8 1]
 [2 9]]
Accuracy of the number 2 dataset 100.0
Confusion matrix of the number 2 dataset [[47  0]
 [ 0 53]]
Accuracy of the number 3 dataset 25.0
Confusion matrix of the number 3 dataset [[0 0 0]
 [2 0 3]
 [1 0 2]]

In [107]:
dt1=DecisionTreeClassifier()
dt1.fit(X1_train,y1_train)
result1 = dt1.predict(X1_test)

In [108]:
dt2=DecisionTreeClassifier()
dt2.fit(X2_train,y2_train)
result2 = dt2.predict(X2_test)

In [109]:
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
result = dt.predict(X_test)

## Creating a code to solve the regression problem

In [2]:
from sklearn.linear_model import SGDRegressor
import pandas as pd

In [3]:
data = pd.read_csv("train.csv")

In [4]:
data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [16]:
target = data[["SalePrice"]].to_numpy()
info = data[["GrLivArea","YearBuilt"]].to_numpy()

In [17]:
X_train, X_test, y_train, y_test = scratch_train_test_split(info, target, train_size=0.8)

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [20]:
sgd = SGDRegressor()
sgd.fit(X_train, y_train)
predict = sgd.predict(X_test)

C:\ProgramData\Anaconda3\envs\LV\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
print( "MSE = ", mean_squared_error(y_test, predict))

MSE =  1949942654.8359146